.comment {
  background-color: #fffde9;
  padding: 20px;
  border-radius: 2px;
}

.mention-container {
  position: relative;
  background: #fff;
  border: 1px solid #dcdcde;
  font-size: 14px;
}

.comment textarea {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.comment textarea,
.comment .mention-highlight {
  line-height: 1;
  font-size: 16px;
  padding: 20px;
  border: 0;
  font-family: sans-serif;
  font-weight: normal;
}

.comment .mention-highlight {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: transparent; // prevents text double thickness
  margin: 0;
}

.comment .mention-highlight span {
  background-color: rgba(128, 208, 153, 0.25);
  outline: 2px solid rgba(128, 208, 153, 0.25);
}

.comment .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0 -1px;
  border: 1px solid #dcdcde;
  max-height: 300px;
  overflow: auto;

  > li {
    display: block;
    font-size: 14px;
    background: #eff1f2;
    padding: 12.6px 15px;
    text-decoration: none;
    color: #999;
    font-family: sans-serif;
    cursor: pointer;

    &:hover,
    &.active {
      background: #fff;
    }

    &:not(:first-of-type) {
      border-top: 1px solid #dcdcde;
    }
  }
}